footer 
    .footer 
        .footer-item 
            a(href="#") 
                img(src="images/header-logo.svg", alt="logo")
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Media centr
                li.footer-list__item 
                    a(href="#").footer-list__link Privasy
                li.footer-list__item 
                    a(href="#").footer-list__link Contact Us
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Media centr
                li.footer-list__item 
                    a(href="#").footer-list__link Privasy
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Media centr
                li.footer-list__item 
                    a(href="#").footer-list__link Privasy
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Media centr
                li.footer-list__item 
                    a(href="#").footer-list__link Privasy